<h1>Edit Recipe</h1>

<form action="/recipes" method="post">
  <label for="name">Name:</label>
  <input id="name" name="recipes[name]" type="text" value="<%= @recipe.name %>"><br>
  <label for="content">Instructions:</label><br>
  <textarea id="content" name="recipes[content]" rows="10" cols="50"><%= @recipe.content %></textarea><br>
  <button class="btn btn-success">Update Recipe</button>
</form>
