<% content_for(:title, "Edit Recipes | The CookBook") %>

<h1>Edit Recipe</h1>

<% if @recipe.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <br>
<% end %>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button class="btn btn-success">Update Recipe</button>
</form>
<br>
<a href="/recipes/<%= @recipe.id %>"><button class="btn btn-warning">Cancel</button></a>
