<h1> Recipe Homepage </h1>

<% @recipes.each do |recipe| %>
  <li><%= recipe.name %></li>
<% end %>

<form action="/recipes" method="post">
  <label for="name">Name:</label>
  <input id="name" name="recipes[name]" type="text"><br>
  <label for="content">Instructions:</label><br>
  <textarea id="content" name="recipes[content]" rows="10" cols="50" placeholder="Recipe Instructions..."></textarea>
</form>
