<h1><%= @recipe.name %></h1>

<h3>Recipe Instructions</h3>
<%= @recipe.content %>

<p><a href="/recipes/<%= @recipe.id %>/edit"><button class="btn btn-warning">Edit Recipe</button></a></p>
<p><a href="/recipes/<%= @recipe.id %>"
      data-confirm="Are you sure?"
      data-method="delete"
      rel="nofollow"><button class="btn btn-danger">Delete</button></a></p>
<p><a href="/recipes"><button class="btn btn-info">Recipes List</button></a></p>
