<% content_for(:title, "Tags | The CookBook") %>

<h1>Tags</h1>

<% if @tags %>
  <h3>All Recipes</h3>
  <% @tags.each do |tag| %>
    <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
  <hr>
<% end %>

<% if @tag.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @tag.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <br />
<% end %>

<form action="/tags" method="post">
  <label for="name">Name:</label>
  <input id="name" name="tags[name]" type="text" value="<%= @tag.name %>">
  <button class="btn btn-success">Add Tag</button>
</form>

<hr>

<a href="/"><button class="btn btn-info">The CookBook</button></a>
