<h1><%= @tag.name %></h1>

<p><a href="/tags/<%= @tag.id %>/edit"><button class="btn btn-warning">Edit Tag</button></a></p>
<p><a href="/tags/<%= @tag.id %>"
      data-confirm="Are you sure you wish to delete the <%= @tag.name %> tag?"
      data-method="delete"
      rel="nofollow"><button class="btn btn-danger">Delete</button></a></p>
<p><a href="/tags"><button class="btn btn-info">Tags List</button></a></p>
