body {
  text-align: center;
}
.jumbotron {
  background-color: #FF983D;
  color: white;
}

.jumbotron h1 {
  text-transform: none;
  font-size: 600%;
}

h1 {
  font-size: 400%;
  text-transform: uppercase;
  background-color: #FF983D;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.blockbutton {
    height: 100px;
    width: 200px;
    font-size: 40px;
}
