@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
}
.jumbotron {
  background-color: #FF983D;
  color: white;
}

.jumbotron h1 {
  text-transform: none;
  font-size: 600%;
}

h1 {
  font-size: 400%;
  text-transform: uppercase;
  background-color: #FF983D;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.blockbutton {
    height: 100px;
    width: 200px;
    font-size: 40px;
}

.panel {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.panel-default > .panel-heading {
  background-color: #5CC75C;
}

.panel-title {
  color: white;
}
